<header class="bg-white sticky top-0 border-b border-1 border-gray-light">
  <div class="sm-container xl:mx-28 2xl:mx-72 py-8 flex">
    <div class="logo">
      <%= image_tag ('LOGO_long.png') %>
    </div>

    <div class="ft-size-30 d-none-desktop absolute right-4">
      <button onclick="on()" onclick="off()" id="abel"><i class="fas fa-bars"></i></button>
      <button onclick="off()" id="toto" class="d-none"><i class="fas fa-times"></i></button>
    </div>
    <div id="overlay">
      <div class="bg-white menu-mobile p-4 navbar-links">
        <ul class="gt-Meduim">
          <li class="border-b border-1 border-gray-light pb-4">
            <i class="fas fa-folder-open"></i> Toutes les offres
          </li>
          <li class="border-b border-1 border-gray-light pb-4 pt-4">
            <i class="fas fa-globe-americas"></i> Investir durable ?
          </li>
          <li class="border-b border-1 border-gray-light pb-4 pt-4">
            <i class="fas fa-gift icon-gift"></i> Parrainage
          </li>
          <li class="border-b border-1 border-gray-light pb-4 pt-4">
            <i class="fas fa-phone"></i> Prendre rendez-vous
          </li>
          <li class="pt-8 mb-8">
            <a class="btn btn-purple text-white">S'inscrire</a>
          </li>
          <li class="pb-8 border-b border-1 border-gray-light">
            <a class="btn btn-white-gray">Connexion</a>
          </li>
          <li>
            <ul class="flex justify-center pt-4">
              <li><%= image_tag ('flag_be.jpg'), class: "w-3/6" %></li>
              <li><%= image_tag ('flag_fr.jpg'), class: "w-3/6" %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="navbar-links gt-Meduim p-4 uppercase ml-8 d-none-sm d-none-tablet-pro">
      <ul class="flex">
        <li>Toutes les offres</li>
        <li class="mx-2">|</li>
        <li>Investir durable ?</li>
        <li class="mx-2">|</li>
        <li>
        <i class="fas fa-circle animate-ping"></i>
        <i class="fas fa-gift"></i></li>
      </ul>
    </div>

    <div class="pt-3 ml-3 d-none-sm d-none-tablet-pro">
      <a class="btn btn-white-green">Prendre RDV <i class="fas fa-phone ml-2.5"></i></a>
      <a class="btn btn-purple text-white">S'inscrire</a>
      <a class="btn btn-white-gray">Connexion</a>
    </div>

    <div class="country-language pt-3 ml-4 d-none-sm d-none-tablet-pro">
      <div class="language">
        <select>
            <option value="FR">FR</option>
            <option value="EN">EN</option>
            <option value="NL">NL</option>
        </select>
      </div>
    </div>

    <div class="country-language pt-3 ml-4 d-none-sm d-none-tablet-pro">
      <div class="mm-dropdown">
        <div class="textfirst"><%= image_tag ('flag_be.jpg') %></div>
        <ul>
          <li class="input-option" data-value="1">
            <%= image_tag ('flag_be.jpg') %>
          </li>
          <li class="input-option" data-value="2">
            <%= image_tag ('flag_fr.jpg') %>
          </li>
        </ul>
        <input type="hidden" class="option" name="namesubmit" value="" />
      </div>
    </div>

  </div>
</header>








<script>
  $('select').each(function(){
      var $this = $(this), numberOfOptions = $(this).children('option').length;

      $this.addClass('select-hidden');
      $this.wrap('<div class="select"></div>');
      $this.after('<div class="select-styled"></div>');

      var $styledSelect = $this.next('div.select-styled');
      $styledSelect.text($this.children('option').eq(0).text());

      var $list = $('<ul />', {
          'class': 'select-options'
      }).insertAfter($styledSelect);

      for (var i = 0; i < numberOfOptions; i++) {
          $('<li />', {
              text: $this.children('option').eq(i).text(),
              rel: $this.children('option').eq(i).val()
          }).appendTo($list);
      }

      var $listItems = $list.children('li');

      $styledSelect.click(function(e) {
          e.stopPropagation();
          $('div.select-styled.active').not(this).each(function(){
              $(this).removeClass('active').next('ul.select-options').hide();
          });
          $(this).toggleClass('active').next('ul.select-options').toggle();
      });

      $listItems.click(function(e) {
          e.stopPropagation();
          $styledSelect.text($(this).text()).removeClass('active');
          $this.val($(this).attr('rel'));
          $list.hide();
          //console.log($this.val());
      });

      $(document).click(function() {
          $styledSelect.removeClass('active');
          $list.hide();
      });

  });


  $(function() {
  // Set
    var main = $('div.mm-dropdown .textfirst')
    var li = $('div.mm-dropdown > ul > li.input-option')
    var inputoption = $("div.mm-dropdown .option")
    var default_text = '<%= image_tag ('flag_be.jpg') %>';

    // Animation
    main.click(function() {
      main.html(default_text);
      li.toggle('fast');
    });

    // Insert Data
    li.click(function() {
      // hide
      li.toggle('fast');
      var livalue = $(this).data('value');
      var lihtml = $(this).html();
      main.html(lihtml);
      inputoption.val(livalue);
    });
  });

  function myFunction() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }

  function on() {
    document.getElementById("overlay").style.display = "block";
    document.getElementById("abel").style.display = "none";
    document.getElementById("toto").style.display = "block";
    document.getElementById("bobyjd").style.overflow = "hidden";
  }

  function off() {
    document.getElementById("overlay").style.display = "none";
    document.getElementById("toto").style.display = "none"
    document.getElementById("abel").style.display = "block"
    document.getElementById("bobyjd").style.overflow = "auto";
  }
</script>
